body{
    padding: 0%;
    margin: 0%;
    overflow: hidden;
}


#landing-page {
overflow: hidden;
overflow-y: scroll;
margin-left: auto;
margin-right: auto;
}

.open-sans-logo{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #2D336B;
}
#logo1{
    padding-left: 30px;
}
.container {
    width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;

}
#navi {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#navi div{
    margin: 5px;
}
.navbar {
  z-index: 100;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid #e0e0e0;
  box-shadow:  3px 3px 10px #A9b5DF;
  padding: 0;
  position: sticky;
  top: 0;
}
.nav-btn, .login-btn{
  padding-left: 1rem;
  padding-right: 1rem;
  width: auto;
  height: 30px;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}
.nav-btn{
    text-align: center;
    background-color: white;
    border: 2px solid #ccc; 
    color: #6c6767;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
}
.login-btn{
    background-color: #F2EFE7;
    border:2px solid #2D336B;
    color: #2D336B;
    font-weight: 600;
}
.nav-btn:hover, .login-btn:hover, .primary-btn:hover,.second-button:hover, .Facebook:hover, .Linkedin:hover, .Twitter:hover{
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.open-logo {
  width: auto;
  height: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.open-logo img {
  max-width: 50%;
  height: auto;
}
.opening {
  /* background-image: linear-gradient(white, #A9b5DF); */
  position: relative;
  height: 90vh;
}

.gradient {
position: absolute;
left: 0;
bottom: 0;
  background-image: linear-gradient(white, #A9b5DF);
height: 100px;
width: 100%;
}

.opening-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1px;
}

.header {
display: flex;
flex-direction: column;
}

#taskbuddy-logo {
max-width: 200px;
min-width: 100%;

}
.opentext p {
  font-size: 16px;
  color: #2D336B;
  margin-bottom: 20px;
}

#cta{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 2rem;
  padding-right: 2rem;
  height: 90vh;
}


.primary-btn {
  background-color: #4CAF50;
  max-width: fit-content;
  color: white;
  padding: 10px 20px;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.primary-btn:hover{
     transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
#description{
     font-family: "Gentium Plus", serif;
  font-weight: 400;
}

.goal{
  text-align: center;
  justify-content: center;
}
#footer-logo{
  height: 50px;
  width: 150px;
  padding-left: 20px;
}

.footer {
  background-color: white;
  border-top: 2px solid #e0e0e0;
  padding: 20px 0;
  box-shadow: 0px -5px 3px #A9b5DF;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.goal{
  height: 200px;
  
}
.features{
  height: 250px;
}
h2,h3{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #2D336B;
}
.goal-subheading{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: #2D336B;
}
.goal-description{
  font-family: "Gentium Plus", serif;
   color: #2D336B;
   font-weight: 500;
   text-align: center;
}
.features-grid{
  display: flex;
  justify-content: center;
  gap: 200px;
  padding: 20px;
  padding-left: 80px;
  align-items: center;
}
.container-feature{
  text-align: center;
}
.feature1, .feature2, .feature3{
  align-items: center;
  background-color: #A9b5DF;
  height: 230px;
  width: 250px;
  border-radius: 10px;
}
#para1, #para2, #para3{
  font-family: "Gentium Plus", serif;
   color: #2D336B;
   font-weight: 500;
   text-align: center;
   padding: 10px;
}
.closing{
  height: 350px;
  text-align: center;
}
.container-closing{
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}
.closing-line h1{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.closing-para p{
   font-family: "Gentium Plus", serif;
   color: #2D336B;
   font-weight: 500;
   text-align: center;
}
.second-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.second-button{
  width: 120px;
  height: 30px;
   background-color: #A9b5DF;
  color: white;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 4px 4px rgba(0,0,0,0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
}
.icons{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-right: 30px;
}
.Facebook, .Linkedin, .Twitter{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;

}
.footer-para{
   font-family: "Open Sans", sans-serif;
   color: #2D336B;
}